# Python
__pycache__/
*.py[cod]
*.mypy_cache/

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
.venv/
venv/
env/

# Environment files
.env

# Testing
.pytest_cache/
.ruff_cache/

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
logs/

# DiffSage local configuration
.diffsage.toml

# Diffsage temporary commit file
COMMIT_EDITMSG